@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

html{
    height: 100%;
}


body{
    background-color: #e7e7e7;
    height: 100%;
}



/***********        Index - gallery part        ***********/
.height-full{       /* pour permettre gallery-part en height 100% */
        height: 100%;
}

.gallery-part{
    background-color: #757575;
    overflow: auto;
    height: 100%;
    padding-left: 30px;
}

.gallery-part h3{
    color:#fff;
    }

.gallery-header{
    height: 13%;
    border-bottom: 1px solid #fff;
}

.gallery-body {
    height: 80%;
}

.gallery-suppr-button {
    display: none;
    z-index: 999;
}

.gallery-list {
    background-color: #606060;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    width: 100%;
}

.gallery-list:hover {
    background-color: #757575;
}

.gallery-list a {
    color: white;  
}

.gallery-list div {
    display: inline-block;
}

.gallery-list > .gallery-suppr-button {
    display: none;
    z-index: 999;
}

.gallery-list:hover a {
    color: #FF5D55;
}

.gallery-list a:hover {
    text-decoration: none;
}

.gallery-active {
    background-color: #757575;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}

.gallery-active a {
    color: #FF5D55;
}

.gallery-active a:hover {
    text-decoration: none;
}

.gallery-active div {
    display: inline-block;
}

.affichage {
    width: 80%;
}

#dialog-confirm {
    display: none;
}

.gallery-title {
    display: inline;
}

.gallery-delete-button {
    display: inline;
    margin-right: 10px;
}

.gallery-edit-button {
    display: inline;
    margin-right: 10px;
}

/***********        Index - picture part        ***********/
.picture-part{
    overflow: auto;
    height: 100%;
}

.picture-header{
    height: 13%;
    border-bottom: 1px solid #000;
}

.picture-body {
    height: 80%;
}

.picture-list {
    margin-top: 15px;
}

.picture-div {
    height: 100px;
    width: 100px;
}

.picture-div:hover {
    background: url(../img/back_desc.png) repeat;
    opacity: 0.4;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px  #000;
    box-shadow: 0px 0px 4px  #000; 
}

.picture-div img {
    height: 100px;
    width: 100px;
}

.picture-delete {
    display: none;
    z-index: 999;
}

/***********        New Gallery - form part       ***********/
.new-gallery-form-part {
    overflow: auto;
    height: 100%;
}

.new-gallery-form-header {
    height: 13%;
    border-bottom: 1px solid #000;
}

.new-gallery-form-body {
    height: 87%;
}

.new-gallery-align label {
    width: 100px;
    display: inline-block;
}

.new-gallery-valid {
    margin-top: 15px;
    display: inline-block;
}

.new-gallery-cancel {
    margin-top: 15px;
    /*padding-top: 50px;*/
    margin-right: 10px;
    display: inline-block;
}

/***********        Upload Image - form part       ***********/

.upload-image-form-part {
    overflow: auto;
    height: 100%;
}

.upload-image-form-header {
    height: 13%;
    border-bottom: 1px solid #000;
}

.upload-image-form-body {
    height: 87%;
}

.upload-image-align label {
    width: 200px;
    display: inline-block;
}

.upload-image-align input {
    display: inline-block;
}

.upload-image-valid {
    margin-top: 15px;
    display: inline-block;
}

.upload-image-cancel {
    margin-top: 15px;
    /*padding-top: 50px;*/
    margin-right: 10px;
    display: inline-block;
}

.upload-image-checkbox {
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.upload-image-new-category {
    display: inline-block;
}

.new-category {
    display: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.new-category-valid {
    display: inline;
    margin-top: 30px;
}

.new-category-align label {
    width: 200px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
}

/***********        Surcharges bootstrap        ***********/

.navbar-default {
    background-color: #fff;
    border: 0px;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
color: #555;
background-color: #ff5d55;
}

.badge {
background-color: #ff5d55;
font-size: 14px;
}

.btn-default {
    color: #fff;
    background-color: #ff5d55;
    border-color: #db2d27;
}

.btn-default:hover {
    color: #fff;
    background-color: #db2d27;
    border-color: #db2d27;
}

.btn-default a{
    color: #fff; 
}
.btn-default a:hover{
    color: #fff; 
    text-decoration: none;
}

