@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

html{
    height: 100%;
}


body{
    background-color: #f5f5f5;
    height: 100%;
}

a:hover{
    text-decoration: none;
}
/***********        Index - gallery part        ***********/


.gallery-part{
    margin: 20px 20px 20px 35px;
    background-color: #e7e7e7;
    overflow: auto;
    max-height: 60%;
/*    min-height: 40%;
    max-height: 50%;*/
    padding: 0;
}

.gallery-body {
    max-height: 40%;
}

.gal-vign-container {
    background-color: #fff;
    margin: 15px;
    padding: 5px;
    width: 130px;
    display: inline-block;
}

.gal-vign-container:hover{
    -webkit-box-shadow: #666 1px 2px 3px;
    -moz-box-shadow: #666 1px 2px 3px;
    box-shadow: #666 1px 2px 3px;
    behavior: url(/pie/PIE.htc);
}

.gal-vign-picture{
    cursor: pointer;
    position: relative;
}

.gal-vign-detail{
    padding: 2px;
}

.gal-vign-detail p{
    line-height: 1;
    margin: 0;
}

.gal-vign-detail a{
    padding: 0;
    text-decoration: none;
    color: #000;
}

.gal-suppr-btn{
    display: none;
    z-index: 999;
    float: right;
    cursor: pointer;
}

.gal-vign-container > .gal-suppr-btn {
    display: none;
    z-index: 999;
    float: right;
}

.gal-vign-container:hover .gal-suppr-btn {
    display: inline;
    float: right;
    z-index: 0;
    position: relative;
}

.gallery-active {
    background-color: #ff5d55;
}

#dialog-confirm {
    display: none;
}

.gallery-title {
    display: inline;
}

.gallery-delete-button {
    display: inline;
    margin-right: 10px;
}

.gallery-edit-button {
    display: inline;
    margin-right: 10px;
}



/***********        Index - picture part        ***********/

.picture-part{
    background-color: #e7e7e7;
    margin: 20px 35px 20px 20px;
    overflow: auto;
    height: 100%;
/*    min-height: 45%;*/
    padding: 0;
}

.picture-header{
    position: relative;
    height: auto;
}

.picture-header ul{
    list-style-type: none;
    margin: 0;
}

.picture-header #filter-cat-btn p{
    position: absolute;
    bottom: 0px;
    right: 70px;
}
.picture-header #new-cat-btn p{
    position: absolute;
    bottom: 0px;
    right: 250px;
    /*line-height: auto;*/
}

.picture-header a{
    color: #919191;
}

.picture-header a:hover{
    color: #5b5b5b;
}

.picture-part .cat-filters, .picture-part .new-cat{
    padding: 10px;
    border-bottom: 1px solid #fff;
    height: auto;
}

/***********        Cat management in picture header        ***********/

.cat-filters .btn-admin{
    color: #fff;
    background-color: #ff5d55;
    /*border-color: #db2d27;*/
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    /*line-height: 1.428571429;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: left;
    border: none;
}

.new-cat .well{
    width: auto;
}

.new-cat .list-inline>li:first-child {
    padding-left: 7px;
}

.new-cat .cat-label{
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: #494949;
    padding: 3px 10px;
    margin-bottom: 5px;
    background-color: #ff5d55;
    color: #fff;
}

.new-cat .cat-label a{
    color: #fff;
    cursor: default;
}

.new-cat .cat-label .span-delete-cat{
    padding-left: 10px;
    cursor: pointer;
}

.new-cat .cat-label .span-delete-cat a{
    cursor: pointer;
    /*font-weight: bold;*/
}

.new-cat .cat-label .span-delete-cat a:hover{
    font-weight: bolder;
}


.picture-body {
    height: auto;
    min-height: 65%;
    padding: 0px  15px;
}

.picture-list {
    margin-top: 15px;
}

.picture-div {
    height: 100px;
    width: 100px;
}

.picture-div:hover {
    background: url(../img/back_desc.png) repeat;
    opacity: 0.4;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px  #000;
    box-shadow: 0px 0px 4px  #000; 
}

.picture-selected {
    background: url(../img/back_desc.png) repeat;
    opacity: 0.4;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px  #000;
    box-shadow: 0px 0px 4px  #000; 
}

.picture-div img {
    height: 100px;
    width: 100px;
}

.picture-delete {
    display: none;
    z-index: 999;
}

.picture-options {
    margin-top: 50px;
    display: none;
}

.picture-options div {
    margin-bottom: 10px;
}


/***********        Index - commun        ***********/

.picture-header, .gallery-header{
    height: auto;
    border-bottom: 1px solid #fff;
}

.picture-header h3, .gallery-header h3{
    padding: 15px 15px 13px 15px;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.picture-header .btn-admin, .gallery-header .btn-admin{
    color: #fff;
    background-color: #ff5d55;
    /*border-color: #db2d27;*/
    display: inline-block;
    padding: 5px 18px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    /*line-height: 1.428571429;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: left;
}

.btn-admin:hover{
    color: #fff;
    background-color: #db2d27;
}

.btn-admin a {
    color: #fff;
    text-decoration: none;
}

.btn-admin a:hover {
    color: #fff;
    text-decoration: none;
}

.height-full{       /* pour permettre gallery-part en height 100% */
        height: 100%;
}


/*.picture-header .category-header h4{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    height: inherit;
}*/




/***********        New Gallery - form part       ***********/
.new-gallery-form-part {
    overflow: auto;
    height: 100%;
}

.new-gallery-form-header {
    height: 13%;
    border-bottom: 1px solid #000;
}

.new-gallery-form-body {
    height: 87%;
}

.new-gallery-align label {
    width: 100px;
    display: inline-block;
}

.new-gallery-valid {
    margin-top: 15px;
    display: inline-block;
}

.new-gallery-cancel {
    margin-top: 15px;
    /*padding-top: 50px;*/
    margin-right: 10px;
    display: inline-block;
}

/***********        Upload Image - form part       ***********/

.upload-image-form-part {
    overflow: auto;
    height: 100%;
}

.upload-image-form-header {
    height: 13%;
    border-bottom: 1px solid #000;
}

.upload-image-form-body {
    height: 87%;
}

.upload-image-align label {
    width: 200px;
    display: inline-block;
}

.upload-image-align input {
    display: inline-block;
}

.upload-image-valid {
    margin-top: 15px;
    display: inline-block;
}

.upload-image-cancel {
    margin-top: 15px;
    /*padding-top: 50px;*/
    margin-right: 10px;
    display: inline-block;
}

.upload-image-checkbox {
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.upload-image-new-category {
    display: inline-block;
}

.new-category {
    display: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.new-category-valid {
    display: inline;
    margin-top: 30px;
}

.new-category-align label {
    width: 200px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
}

/***********        Surcharges bootstrap        ***********/

.navbar-default {
    background-color: #fff;
    border: 0px;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
color: #555;
background-color: #ff5d55;
}

.badge {
background-color: #ff5d55;
font-size: 14px;
}

.btn-default {
    color: #fff;
    background-color: #ff5d55;
    border-color: #db2d27;
}

.btn-default:hover {
    color: #fff;
    background-color: #db2d27;
    border-color: #db2d27;
}

.btn-default a{
    color: #fff; 
}
.btn-default a:hover{
    color: #fff; 
    text-decoration: none;
}

