@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

html{
    height: 100%;
}

body{
    background-color: #f5f5f5;
    height: 100%;
}

a:hover{
    text-decoration: none;
}
/***********        Index - gallery part        ***********/

.gallery-part{
    margin: 20px 20px 20px 35px;
    background-color: #e7e7e7;
    overflow: auto;
    height: 100%;
    padding: 0;
}

.gallery-part-full-height{
    margin: 20px 20px 20px 35px;
    background-color: #e7e7e7;
    overflow: auto;
    height: 100%;
    padding: 0;
}

 .gallery-header h3{
    margin: 0;
}

 .gallery-header h4{
    margin-left: 10px;
}

.gallery-body {
    max-height: 90%;
}

.gallery-body-full-height{
    height: 90%;
}

.gal-vign-container {
    background-color: #fff;
    margin: 15px;
    padding: 5px;
    width: 130px;
    display: inline-block;
}

.gal-vign-container:hover{
    -webkit-box-shadow: #666 1px 2px 3px;
    -moz-box-shadow: #666 1px 2px 3px;
    box-shadow: #666 1px 2px 3px;
    behavior: url(/pie/PIE.htc);
}

.gallery-active {
    background-color: #ff5d55;
    -webkit-box-shadow: #666 2px 3px 5px;
    -moz-box-shadow: #666 2px 3px 5px;
    box-shadow: #666 2px 3px 5px;
    behavior: url(/pie/PIE.htc);
}


.gallery-active .btn-default {
color: #ff5d55;
background-color: #fff;
border-color: #db2d27;
}

.gal-vign-picture{
    cursor: pointer;
    position: relative;
}

.gal-vign-detail{
    padding: 2px;
}

.gal-vign-detail p{
    line-height: 1;
    margin: 0;
}

.gal-vign-detail a{
    padding: 0;
    text-decoration: none;
    color: #000;
}

.gal-suppr-btn, .gallery-edit-button{
    float: right;
    cursor: pointer;
    margin: 3px 3px 0 0;
}

#dialog-confirm,  #dial-del-cat, #dial-del-img{
    display: none;
    z-index: 1100;
}

.gallery-title {
    display: inline;
}

.gallery-edit-button {
    display: inline;
    margin-right: 10px;
}


/***********        Gallery display options in gallery part        ***********/

.gallery-part .display-gal-opt{
    padding: 10px;
    border-bottom: 1px solid #fff;
    height: auto;
}

.gallery-part .display-gal-opt .col-md-5{
    padding: 0;
}


.display-gal-opt .well {
    width: auto;
    margin: 0 10px 0 10px;
}

.display-gal-opt label {
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 8px;
}

.display-gal-opt .radio-inline {
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 8px;
}

.display-gal-opt .radio-btn{
    margin-bottom: 0;
}

.display-gal-opt .radio-btn label:first-child{
    margin-top: 0;
}


/***********        Index - picture part        ***********/

.picture-part{
    background-color: #e7e7e7;
    margin: 20px 35px 20px 20px;
    overflow: auto;
    height: 100%;
    padding: 0;
}

.picture-header h3{
    margin: 0 0 0 55px;
}

.picture-header, .gallery-header{
    position: relative;
    height: auto;   
}

.picture-header ul, .gallery-header ul{
    list-style-type: none;
    margin: 0;
}

.picture-header #new-cat-btn p, .gallery-header #display-options p {
    position: absolute;
    bottom: 0px;
    right: 70px;
}   


.picture-header a, .gallery-header a{
    color: #919191;
}

.picture-header a:hover, .gallery-header a:hover{
    color: #5b5b5b;
}

.picture-part .cat-filters, .picture-part .new-cat{
    padding: 10px;
    border-bottom: 1px solid #fff;
    height: auto;
}

.del-img-dialog {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.picture-body .help-block{
    margin-top: 5px;
    font-style: italic;
    margin-bottom: 5px;
    border-left: 3px solid #737373;
    padding-left: 8px;
}

.picture-body .help-block:first-child{
    margin-top: 20px;
}

/***********        Cat management in picture header        ***********/

.new-cat .row {
    margin-right: 0px;
    margin-left: 0px;
}

.new-cat .well{
    width: auto;
    margin: 0 10px 0 0;
    float: right;
}

.new-cat .list-inline>li:first-child {
    padding-left: 7px;
}

.new-cat .cat-label{
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: #494949;
    padding: 3px 10px;
    margin-bottom: 5px;
    background-color: #ff5d55;
    color: #fff;
}

.new-cat .cat-label a{
    color: #fff;
    cursor: default;
}

.new-cat .cat-label p{
    color: #fff;
    cursor: default;
    display: inline-block;
    margin: 0;
}

.new-cat .cat-label .span-del-cat{
    padding-left: 10px;
    cursor: pointer;
}

.new-cat .cat-label .span-del-cat:hover{
    font-weight: bolder;
    cursor: pointer;
}


.picture-body {
    height: auto;
    min-height: 65%;
    padding: 0px  15px;
}

.picture-list {
    margin-top: 15px;
}

.picture-div {
    height: 100px;
    width: 100px;
    position: relative;
}

.picture-div:hover {
    background: url(../img/back_desc.png) repeat;
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px  #000;
    box-shadow: 0px 0px 4px  #000; 
    cursor: pointer;
}

.picture-div span {
    display: none;
    position:absolute;
    top: 40px;
    left: 40px;
    font-size: 2em;
    color: #000;
    z-index: 999;
    cursor:pointer;
}

.picture-div:hover span {
    display: inline;
}

.picture-selected {
    background: url(../img/back_desc.png) repeat;
    opacity: 0.4;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px  #000;
    box-shadow: 0px 0px 4px  #000; 
}

.picture-div img {
    height: 100px;
    width: 100px;
}

.picture-delete {
    display: none;
    z-index: 999;
}

.picture-options {
    margin-top: 50px;
    display: none;
}

.picture-options div {
    margin-bottom: 10px;
}


/***********        Index - commun        ***********/

.picture-header, .gallery-header{
    height: auto;
    border-bottom: 1px solid #fff;
}

.picture-header h3, .gallery-header h3{
    font-size: 22px;
    font-weight: bold;
    padding: 15px 15px 13px 15px;
}

.picture-header .btn-admin, .gallery-header .btn-admin{
    color: #fff;
    background-color: #ff5d55;
    display: inline-block;
    padding: 5px 18px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: left;
}

.btn-admin:hover{
    color: #fff;
    background-color: #db2d27;
}

.btn-admin a {
    color: #fff;
    text-decoration: none;
}

.btn-admin a:hover {
    color: #fff;
    text-decoration: none;
}

.height-full{       /* pour permettre gallery-part en height 100% */
        height: 100%;
}


/***********        New Gallery - form part       ***********/
.new-gallery-form-body {
    height: 87%;
}

.new-gallery-form-body .well{
    width: auto;
    margin: 15px;
}

.new-gallery-align label {
    width: 100px;
    display: inline-block;
}

.new-gallery-valid {
    margin-top: 15px;
    display: inline-block;
}

.new-gallery-cancel {
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
}

/***********        Upload Image - form part       ***********/

.upload-image-form-body {
    height: 87%;
}

.upload-image-form-body .well{
    width: auto;
    margin: 15px;
}

.upload-image-align .edit-btn-image{
    display: inline;
    margin-bottom: 10px;
}
.upload-image-align .btn-del-img{
    background-color: #db2d27;
    border-color: #db2d27;
}

.upload-image-align .btn-del-img:hover{
    background-color: #b5140e;
    border-color: #db2d27;
}


.upload-image-align label {
    width: 200px;
    display: inline-block;
}

.upload-image-align input {
    display: inline-block;
}

.upload-image-valid {
    margin-top: 15px;
    display: inline-block;
}

.upload-image-cancel {
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
}

.upload-image-form-body .list-categories ul{
     list-style-type: none;
}

.upload-image-checkbox {
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.upload-image-new-category {
    display: inline-block;
}

.new-category {
    display: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.new-category-valid {
    display: inline;
    margin-top: 30px;
}

.new-category-align label {
    width: 200px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/***********        Formulaires        ***********/

.form-error {
    color: #B94A48;
}

.form-ok {
    color: #3C763D;
}


/***********        Surcharges bootstrap        ***********/

.navbar-default {
    background-color: #fff;
    border: 0px;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
color: #555;
background-color: #ff5d55;
}

.badge {
background-color: #ff5d55;
font-size: 14px;
}

.btn-default {
    color: #fff;
    background-color: #ff5d55;
    border-color: #db2d27;
}

.btn-default:hover {
    color: #fff;
    background-color: #db2d27;
    border-color: #db2d27;
}

.btn-default a{
    color: #fff; 
}
.btn-default a:hover{
    color: #fff; 
    text-decoration: none;
}

.btn-xsm {
padding: 4px 8px;
font-size: 11px;
line-height: 1.3;
border-radius: 3px;
}


/***********        Surcharges jquery-ui        ***********/

.ui-dialog{
    padding: 0;
}

.ui-widget-content{
    background: none repeat scroll 0 0 transparent;
    background-color: #f5f5f5;
}


.ui-dialog-titlebar-close{
    display: none;
}

.ui-widget-header{
    background: none repeat scroll 0 0 transparent;
    border: none;
    background-color: #e7e7e7;;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-left, .ui-corner-bottom{
    border-radius: 0;
}
