/***********        Index - diaporama        ***********/
body:after {
  content: url(../img/ajax-loader.gif) url(../img/closeg.png) url(../img/prev.png) url(../img/next.png);
  display: none;
}

#lb-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.lightbox{
    position: absolute;
    left: 0;
    top:50px;
    width: 100%;
    z-index: 10000;
    text-align: left;
}

.lb-container{
    position: relative;
    background-color: white;
    height: auto;
    margin: 0 auto;
}

.lb-container .loading{
    background: url(../img/ajax-loader.gif) no-repeat center center;
    width: 300px;
    height: 300px; 
}

.lb-img-container{
    max-width: inherit;
    padding: 10px;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: 1000px;
}

.lb-nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    z-index: 10;
}

.lb-nav a, .lb-nav a:active, .lb-nav a:focus{
  outline: none;
  -moz-outline-style: none;
}


.lb-prev, .lb-next {
    width: 49%;
    height: 100%;
    cursor: pointer;
    /* Trick IE into showing hover */
    display: block;
}

.lb-next {
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; 
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: url(../img/next.png) right 48% no-repeat;
}

.lb-prev {
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: url(../img/prev.png) left 48% no-repeat;
}

.lb-data-container{
      margin: 0 auto;
      padding: 0 5px 5px 5px;
      width: 100%;
}

.lb-details{
    width: 100%;
    margin-left: 10px;
}

.lb-details h3{
    margin: 0;
}

.lb-details p{
    margin: 0;
}

.lb-desc{
  margin: 6px 10px 14px 10px;
  padding: 0px 10px;
  border-left: 3px solid #eee;
}

.lb-cat span{
    margin: 5px 5px;  
    background-color: #ff5d55;
    color: #fff;
    border-radius: 10px;
    padding: 3px 7px;
}

.lb-close-container{
    min-height: 30px;
}

.lb-close{
    display: inline;
    float: right;
    width: 30px;
    height: 30px;
    margin: 0 10px 10px 0;
    background: url(../img/closeg.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/***********        Index - liste des photos        ***********/

.btn-nav-group {
position: relative;
display: inline-block;
vertical-align: middle;
}

.btn-nav-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}

.btn-nav-group>.btn:last-child:not(:first-child), .btn-nav-group>.dropdown-toggle:not(:first-child) {
border-bottom-left-radius: 0;
border-top-left-radius: 0;
}

.btn-nav-group>.btn:first-child {
margin-left: 0;
}

.btn-nav-group .btn+.btn, .btn-nav-group .btn+.btn-nav-group, .btn-nav-group .btn-nav-group+.btn, .btn-nav-group .btn-nav-group+.btn-nav-group {
margin-left: -1px;
}

.btn-nav-group>.btn:hover, .btn-nav-group>.btn:focus, .btn-nav-group>.btn:active, .btn-nav-group>.btn.active {
z-index: 2;
}

.btn-nav-group>.btn {
position: relative;
float: left;
}

.btn {
display: inline-block;
padding: 6px 12px;
margin: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.btn:focus {
   outline-color: transparent !important;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  -webkit-appearance: button;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
color: #333;
background-color: #ebebeb;
border-color: #adadad;
text-decoration: none;
}


/* navigation */

 @font-face {
    font-family: 'entypo';
    src: url('../type/entypo.eot');
    src: url('../type/entypo.eot?#iefix') format('embedded-opentype'),
         url('../type/entypo.woff') format('woff'),
         url('../type/entypo.ttf') format('truetype'),
         url('../type/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}


.icon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Entypo';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}


[data-icon]:before {
  font-family: 'Entypo'; 
  content: attr(data-icon);
  speak: none; 
}

#diapo-nav{
    display: table;
}

#diapo-nav #autoplay{
    float: left;
}

#diapo-nav .btn-nav-group{
    float: right;
}

#diapo-nav .btn-nav-group .btn{
    width: 45px;  
    height: 45px;
}

#diapo-nav ul{
    list-style: none;
}

#diapo-nav li{
    display: inline-block;
}

#diapo-nav span{
    font-size: 70px;
    vertical-align: center;
    line-height: 0;
}






