
/***********        Index - liste des categories        ***********/

.categories{
    margin-top: 60px;
    margin-bottom: 50px;
}


.categories ul{
    list-style-type: none;
    margin: auto;
    text-align: center;
    padding: 3px 7px;
}

.categories a{
    border-radius: 10px;
    text-decoration: none;
    color: #494949;
    padding: 3px 7px;
}

.categories a:hover, .categories a.cat-active:hover{
    background-color: #db2d27;
    color: #fff;
}

.categories a.cat-active{
    background-color: #ff5d55;
    color: #fff;
}

/***********        Index - liste des photos        ***********/

.gallery{
    margin-top: 60px;
}


.gallery ul{
    list-style-type: none;
    margin: auto;
    text-align: center;

}

.gallery img{
    margin-top: 10px;
}

.gallery .glyphicon{
    font-size: 40px;
    margin-top: 50%;
}
