@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body{
    background-color: #e7e7e7;
}

#diapo li:hover img{
        -webkit-box-shadow: #666 2px 3px 5px;
    -moz-box-shadow: #666 2px 3px 5px;
    box-shadow: #666 2px 3px 5px;
    behavior: url(/pie/PIE.htc);
    cursor: pointer;
}


/***********        Index - liste des gallery        ***********/

#gallery-full .categories .row-cat{
    margin: 0;
}

.gallery-desc a{

}

.gallery-desc:hover a, .gallery-desc a.gal-active:hover{
	color:  #db2d27;
}

.gallery-desc a.gal-active{
	color: #ff5d55;
	
}

.navbar-default .navbar-nav>li>a.gal-active{
	color:  #ff5d55;
}


/***********        Index - liste des categories        ***********/

.categories{
    margin-top: 60px;
}

.categories .intertitre{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.categories ul{
    list-style-type: none;
    margin: auto;
    text-align: center;
    padding: 3px 7px;
}

.categories li {
    margin-bottom: 10px;
}

.categories a{
    border-radius: 10px;
    text-decoration: none;
    color: #494949;
    padding: 3px 7px;
    margin-bottom: 5px;
}

.categories a:hover, .categories a.cat-active:hover{
    background-color: #db2d27;
    color: #fff;
}

.categories a.cat-active{
    background-color: #ff5d55;
    color: #fff;
}


#gallery {
    margin-top: 60px;
}


/***********        Formulaire login admin        ***********/

.form_login h2{
	margin: 40px auto;
	text-align: center;
}

.form_login div.well{
	width: 300px;
	margin: 40px auto;
	text-align: center;
}

#loginError {
    display: none;
    color: #B94A48;
}


/***********        Footer        ***********/

footer {
    background-color: #333;
    width: 100%;
    bottom: 0;
    position: fixed;
}


#dvLoading
{
   background:url(../img/ajax-loader.gif) 50% 50% no-repeat #eee;
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 9999;
   left: 0;
   top: 50px;
}



/***********        Surcharges bootstrap        ***********/

.navbar-default {
    background-color: #fff;
    border: 0px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	color: #555;
	background-color: #ff5d55;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
	color: #db2d27;
}
