@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body{
    background-color: #e7e7e7;
}


/***********        Index - liste des gallery        ***********/

.gallery-desc a{

}

.gallery-desc:hover a, .gallery-desc a.gal-active:hover{
	color:  #db2d27;
}

.gallery-desc a.gal-active{
	color: #ff5d55;
	
}

.navbar-default .navbar-nav>li>a.gal-active{
	color:  #ff5d55;
}


/***********        Formulaire login admin        ***********/

.form_login h2{
	margin: 40px auto;
	text-align: center;
}

.form_login div.well{
	width: 300px;
	margin: 40px auto;
	text-align: center;
}



/***********        Surcharges bootstrap        ***********/

.navbar-default {
    background-color: #fff;
    border: 0px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	color: #555;
	background-color: #ff5d55;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
	color: #db2d27;
}