@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body{
    background-color: #e7e7e7;
}



/***********        Index - liste des categories        ***********/

.categories{
    margin-top: 60px;
}


.categories ul{
    list-style-type: none;
    margin: auto;
    text-align: center;

}

/***********        Index - liste des photos        ***********/

.gallery{
    margin-top: 60px;
}


.gallery ul{
    list-style-type: none;
    margin: auto;
    text-align: center;

}

.gallery img{
    margin-top: 10px;
}

.gallery .glyphicon{
    font-size: 40px;
    margin-top: 50%;
}

/***********        Formulaire login admin        ***********/

.form_login h2{
	margin: 40px auto;
	text-align: center;
}

.form_login div.well{
	width: 300px;
	margin: 40px auto;
	text-align: center;
}



/***********        Surcharges bootstrap        ***********/

.navbar-default {
    background-color: #fff;
    border: 0px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
color: #555;
background-color: #ff5d55;
}

.badge {
background-color: #ff5d55;
font-size: 14px;
}
